<!DOCTYPE html>
<html>
    <head>
        <title>Sarissa</title>

        <!-- Link CSS -->
        <link rel="stylesheet"
              type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">
        </link>

        <!-- Include JS files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    </head>
    <body>
        <%=yield%>
    </body>
</html>

